html, body
{
	width: 100%;
	height: 100%;
	background-color : #484848;
	margin: 0;
	padding: 0;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	display: flex;
	overflow: none;
}

#logo
{
	position: relative;
	max-width: 100%;
	max-height: 68px;
	background-color: #212121;
	padding: 0;
	box-shadow : 0px 1px 4px;
}

#logo_img
{
	width: 251px;
	height: 68px;
}

#folder_path_section
{
	margin: 30px 0 0 0;
	width: 100%;
	height: 123px;
	flex-direction: column;
}

#folder_path_title
{
	text-align: center;
	color: black;
	background-color: #D4D4D4;
	width: 25%;
	height: 20px;
	margin: 0 0 0 5%;
	font-size: 83%;
	border-radius: 6px 4px 0 0;
	user-select: none;
}

#folder_path_main_section
{
	width: 100%;
	height: 100px;
	flex-direction: row;
	display: flex;
}

#folder_path_icon_section
{
	width: 20%;
	height: 100%;
	background: #303030;
	border: 1px solid #000000;
	margin: 0px;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
}

#folder_icon
{
	width: 30px;
	height: 30px;
}

#folder_icon_png
{
	width: 100%;
	height: 100%;
}

#folder_path_input_section
{
	height: 100%;
	width: 80%;
	background: #303030;
	border: 1px solid #000000;
	margin: 0px;
	align-items: center;
	display: flex;
	flex-direction: row;
}

#folder_path_input_div
{
	width: 80%;
	height: 24%;
	margin: 0 0 0 4%;
}

.drag_zone
{
	width:100%;
	height: 100%;
	background-color: #484848;
	border: 1px solid #000000; 
	border-radius: 3px;
	outline: none;

}

.drag_zone_on
{	
	width:100%;
	height: 100%;
	background-color: #484848;
	border: 1px solid green; 
	border-radius: 3px;
	outline: none;
}

#plus_icon_div
{
	width:25px;
	height: 25px;
	margin: 0 0 0 6%;
	box-shadow: 0px 2px 2px;
	transition: 0.1s;
	cursor: pointer;
}
#plus_icon_div:hover
{
	box-shadow: 0px 2px 5px;
	'transform: translate(0%, -2%);'

}
#plus_icon_div:active
{
	box-shadow: 0px 0px 0px;
	transform: translate(0%, 3%);
}

#plus_icon
{
	width:100%;
	height: 100%;
}

#file_path_section
{
	margin: 15px 0 0 0;
	width: 100%;
	height: 123px;
	flex-direction: column;
}

#file_path_title
{
	text-align: center;
	color: black;
	background-color: #D4D4D4;
	width: 25%;
	height: 20px;
	margin: 0 0 0 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 83%;
	border-radius: 6px 4px 0 0;
	user-select: none;
}

#file_path_main_section
{
	width: 100%;
	height: 100px;
	flex-direction: row;
	display: flex;
}

#file_path_icon_section
{
	width: 20%;
	height: 100%;
	background: #303030;
	border: 1px solid #000000;
	margin: 0px;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
}

#file_path_input_section
{
	height: 100%;
	width: 80%;
	background: #303030;
	border: 1px solid #000000;
	margin: 0px;
	align-items: center;
	display: flex;

}
#file_icon
{
	width: 30px;
	height: 30px;
}

#file_icon_png
{
	width: 100%;
	height: 100%;
}

#buttons_section
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 117px;
	align-items: center;
}

#moveto_button
{
	background-color: #5E9EFF;
	height: 50px;
	width: 172px;
	position: relative;
	margin: 0 0 0 10%;
	align-items: center;
	display: flex;
	font-size: 24px;
	color: white;
	flex-direction: row;
	cursor: default;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
	user-select: none;
}

#moveto_button_text
{
	margin: 0 0 0 4%;
	width: 75%;
	min-width: 75%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

#select_path
{
	background-color: #5086D8;
	height: 100%;
	width: 25%;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
}

#move_button
{
	background-image:linear-gradient(130deg, #5EFF8B, #52D9A8);
	background-size: 400% 400%;
	background-position: 0% 0%;
	height: 50px;
	width: 172px;
	transition: 0.3s;
	position: relative;
	margin: 0 0 0 10%;
	align-items: center;
	display: flex;
	font-size: 24px;
	color: white;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
	user-select: none;
}

#move_button:hover
{
	background-position: -40% -40%;
}

#move_button:active
{
	transition: 0.1s;
	transform:translate(0px , 2px);
	box-shadow: 0px 0px 9px #02FF67;
	height: 45px;
}

#paths_list
{
	background-color: #212121;
	width:100%;
	height:350%;
	position: absolute;
	margin: 0 0 130% 0;
	border-radius: 10px 10px 0% 0%;
	overflow-y: scroll;
}


#paths_list_title
{
	width: 100%;
	height: 15%;
	background-color: #5086D8;
	border-radius: 7px 7px 0% 0%;
	text-align: center;
}

#paths_list_subtitle
{
	width: 100%;
	height: 15%;
	font-size: 15px;
	text-align: center;
	padding: 2% 0 0 0;
}

#moveto_button:active
{
	transition: 0.1s;
	transform:translate(0px , 2px);
	height: 45px;
}

#add_new_path_window
{
	width: 79%;
	height: 80px;
	background-color: #212121;
	position: absolute;
	display: flex;
	border: 1px solid black;
}

#add_new_path_window_title
{
	background-color: #D4D4D4;
	width: 15%;
	height:32%;
	margin: 25px 0 0 0;
	border-radius: 0 5px 5px 0;
	text-align: center;
	padding: 4px 0 0 0;
}

#add_new_path_window_input
{	
	height: 30%;
    width: 55%;
    background-color: #484848;
    border: 1px solid #000000;
    margin: 25px 0 0 15px;
    align-items: center;
    display: flex;
	outline: none;
	border-radius: 3px;
}

#add_new_path_window_save_button
{
	width: 12%;
	height: 40%;
	background-color: yellow;
	border-radius: 3px;
	cursor: pointer;
	margin: 17px 0 0 10px;
	padding: 10px 0 0 8px;
	font-size: 18px;
}

#add_new_path_window_close_button
{
	border-radius: 30px;
	background-color: red;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin: 5px 0 0 10px;
}
